@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$cyan: hsl(172, 67%, 45%);

$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grey-cyan: hsl(186, 14%, 43%);
$gray-cyan: hsl(184, 14%, 56%);
$light: hsl(185, 41%, 84%);
$very-light: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$hover: #9fe8df;

.App {
  @media screen and (min-width: 769px) and (min-height: 850px) {
    margin-top: -90px;
  }
}

.logo {
  display: block;
  margin: 50px auto 40px;

  @media screen and (min-width: 769px) {
    margin-bottom: 86px;
  }
}

.calc {
  display: flex;
  background-color: $white;
  flex-direction: column;
  max-width: 920px;
  width: 100%;
  border-radius: 24px;
  font-family: 'Space Mono', monospace;
  color: $dark-grey-cyan;
  margin: 20px 0;

  input {
    font-family: inherit;
  }

  @media screen and (min-width: 480px) {
    width: 90%;
    margin: 20px auto;
  }
  
  @media screen and (min-width: 769px) {
    width: 100%;
    max-width: 920px;
    padding-bottom: 32px;
    flex-direction: row;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 32px;

  @media screen and (min-width: 769px) {
    margin: 0 48px;
  }

  input[type=radio] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
}


.label {
  margin: 34px 0 8px;

  @media screen and (min-width: 769px) {
    margin: 45px 0 5px;
  }
}

.label--tip {
  @media screen and (min-width: 769px) {
    margin: 41px 0 16px;
  }
}

.bill,
.people {
  background-color: $very-light;
  color: $very-dark-cyan;
  border: none;
  height: 48px;
  border-radius: 5px;
  text-align: right;
  padding-right: 16px;
  font-size: 24px;
  width: 100%;

  &::placeholder {
    color: $gray-cyan;
  }
}

.bill,
.people,
.tip-custom {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    outline: 2px solid $cyan;
  }
}

.tips {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media screen and (min-width: 480px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tip-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $very-dark-cyan;
  color: $white;

  &:hover {
    background-color: $hover;
    color: $very-dark-cyan;
  }
}

input:checked+.tip-label {
  background-color: $cyan;
  color: $very-dark-cyan;
}

.tip-label,
.tip-custom {
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
  width: 100%;
  height: 48px;

  &:focus {
    border-color: red;
  }
}

.tip-custom {
  cursor: text;
  text-align: center;
  background-color: $very-light;
  border: none;
  // padding-right: 16px;

  &::placeholder {
    text-align: center;
    color: $gray-cyan;
  }
}

.people {
  margin-bottom: 16px;
}

.result {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $very-dark-cyan;
  border-radius: 16px;
  padding: 24px;
  margin: 24px;

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 769px) {
    margin: 32px 32px 0 0;
    padding: 24px 40px 40px;
  }
}

.result-row {
  margin: 16px 0 22px;
}

.result-title {
  color: $white;
}

.result-under {
  font-size: 12px;
  color: $gray-cyan;

  @media screen and (min-width: 769px) {
    font-size: 14px;
  }
}

.result-right {
  color: $cyan;
  font-size: 30px;

  @media screen and (min-width: 769px) {
    font-size: 48px;
  }
}

.reset {
  cursor: pointer;
  width: 100%;
  background-color: $cyan;
  color: $very-dark-cyan;
  text-transform: uppercase;
  font-size: 20px;
  height: 48px;
  border: none;
  border-radius: 5px;
  margin-top: 16px;

  &:hover {
    background-color: $hover;
  }

  &:disabled {
    opacity: 0.2;
    background-color: $hover;
    cursor: default;
  }
}